@import "../../assets/css/variables.scss";

.container{
    width: 533px;
    margin: 0 auto;
    background: $gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1px;
    padding: 15px;
}